body{
    background: linear-gradient(to top,rgb(162, 215, 233), white, rgb(162, 215, 233));
    background-attachment: fixed;
}

nav{
    background-color: white;
    border-bottom: black;
    border-radius: 3px;
    border: black;
}
.navbar .btn:hover{
    background-color: #407ad1;
    color: white;
}
.navbar .nav-link {
    text-decoration: none; 
    color: black;
    padding: 10px 15px;
    margin: 1px;
    position: relative;
}
.navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3498db;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}
.navbar .nav-link:hover::after {
    width: 100%; 
}
.brand{
    width: 40px;
    height: 40;
}


.singIn {
    background-color: #7cb6d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px; 
    text-align: center;
    transition: transform 0.3s ease;
    display: inline-block; 
}
.singUp{
    background-color: #7cb6d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 15px; 
    margin-left: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    display: inline-block; 
}
.dropbtn {
    color: black;
    background-color: #f1f1f1;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownContent {
    display: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    min-width: 60px;
    z-index: 1;
}
.dropdownContent a {
    color: black;
    padding: 10px 20px;
    margin-top: 3px;
    text-decoration: none;
    display: block;
    border: none;
    border-radius: 5px;
}
.dropdownContent a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.dropdown:hover .dropbtn {
    color: black;
}



.card-title{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 24px;
}
.card-header{
    background-color: #407ad1;
    color: white;
    width: 100%;
    display: grid;
    place-items: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 1px;
}
@media (max-width: 768px) {
    .cards{
        justify-content: center;
    }
    .card {
        flex: 1 1 100%;
    }
}
.buy-button{
    width: 200px;
    height: 40px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}
.buy-button:hover{
    background-color: #407ad1;
    color: white;
}

.body-text{
  padding-inline: 10px;
}
.more{
    background-color: #7cb6d1;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 15px; 
    margin-left: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    display: inline-block;
}
.more:hover{
    background-color: #407ad1;
    color: white;
}

footer{
    background-color: black;
    color: white;
}
.github-icon{
    width: 32px;
    height: 32px;
    fill: white;
    transition: fill 0.3s ease;
}
.github-icon:hover{
    fill: gray;
}
.bi-twitter-x{
    color: white;
    transition: color 0.3s;
}
.bi-twitter-x:hover{
    color: gray;
}

.contacts{
    border-left: solid 1px gray;
}
@media(max-width: 768px){
    .contacts{
        border-left: none;
    }
}
.colesseum{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.colesseum:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}